.main2 {
 display: flex;
 flex-direction: column;

.paragraphHeadings {
    font-size: 12vw;
}

.paragraphs {
  font-size: 5vw;
  text-align: center;
  color: $blue;
  letter-spacing: 3px;
  padding: 1em;
}

.aboutMeBox {//                            ABOUT_ME_BOX
 @include boxShadow;
 }

 #spanAbout {
 text-orientation:sideways-left;
 writing-mode: vertical-lr;
 transform: rotateZ(-180deg); 
 letter-spacing: 15px;
 float: left; 
 margin-top: 1em;
}

 #spanMe {
 letter-spacing: 15px;
 position: relative;
 left: 0em;
}

#aboutMeSection {
 color: $fontColor;
 display: flex;
 flex-direction: column;

.initial {
 font-size: 11vw;
}

.initial::first-letter {
 color: $salmon;
 float: left;
 line-height: 0.8em;
 font-size: 54vw;
  }
}

 #spanPrinciples {
 font-size: 10vw;
 }

}


.myJourneyBox {//                       MY_JOURNEY_BOX

 h1 {
 text-align: right;
 
 
 #spanMy {//                       SPAN_MY
 letter-spacing: 15px;
 position: relative;
 left: -1em;
}

 #spanJourney {//                       SPAN_JOURNEY
 text-orientation: sideways-left;
 writing-mode: vertical-rl; 
 letter-spacing: 10px;
 float: right;
 margin-top: 0.5em;}
 }

 #spanHungry{
    text-align: center;
    font-size: 10vw;
    width: 8em;
 }

 #myJourneySection {//                       #JOURNEY_SECTION
 display: flex;
 flex-direction: column;


 .myJourneyBoxParagraph {//                       MY_JOURNEY_BOX
 color: $fontColor;
 letter-spacing: 2px;
 font-size: 4vh;
 
 #bigWord {//                       C_INITIAL_LETTER
 color: $headingColor;
 }
}
}


}


