.main2 {

.aboutContainer {
  display: grid;
  gap: 3em;
  justify-content: center;

.paragraphHeadings {//                            PARAGRAPH_HEADINGS
    font-size: 12vw;
}

.paragraphs {//                                   PARAGRAPHS
  font-size: 5vw;
  text-align: left;
  color: $blue;
  letter-spacing: 3px;
  line-height: 1.8em;
  padding: 10px;

}

.aboutMeBox {//                                    ABOUT_ME_BOX
 @include boxShadow; 
 background-color: $backgroundColor;
 transform: skewY(-5deg);
 }

 .aboutMeBox::before {//                          RED_CONTAINER_TOP
  content: '';
  height: 100%;
  width: 14.4px;
  left: -14px;
  top: 0;
  position: absolute;
  transform: skewY(35deg);
  background-color: $blue;
  transform-origin: right ;
 }

 .aboutMeBox::after {//                          BLUE_CONTAINER_LEFT
  content: '';
  height: 10px;
  width: 100%;
  position: absolute;
  transform: skewX(55deg);
  background-color: $salmon;
  transform-origin: bottom;
  top: -10px;
  left: 0;
 }

 #spanAbout {
 text-orientation:sideways-left;
 writing-mode: vertical-lr;
 transform: rotateZ(-180deg); 
 letter-spacing: 15px;
 float: left; 
 margin-top: 1em;
}

 #spanMe {
 letter-spacing: 15px;
 position: relative;
 left: 0em;
}

 #aboutMeSection {
 color: $fontColor;
 display: flex;
 height: 70%;

.initial {
 font-size: 6vw;
 line-height: 2;
 letter-spacing: 0.9vw;
 text-align: left;
}

.initial::first-letter {
 color: $salmon;
 float: left;
 line-height: 0.8em;
 font-size: 45vw;
  }
}

 #spanPrinciples {
 font-size: 10vw;
 }

 .myJourneyBox {//                       MY_JOURNEY_BOX
 @include boxShadow;
 background-color: $backgroundColor;
 transform: skewY(-5deg);

 h1 {
 text-align: right;
 
 #spanMy {//                       SPAN_MY
 letter-spacing: 15px;
}

 #spanJourney {//                       SPAN_JOURNEY
 text-orientation: sideways-left;
 writing-mode: vertical-rl; 
 letter-spacing: 10px;
 float: right;
 padding-top: 1.5em;}
 }

 #spanHungry {
    font-size: 5.2vw;
    width: 100%;
 }

 #myJourneySection {//                       #JOURNEY_SECTION
 flex-direction: column;


 .myJourneyBoxParagraph {//                       MY_JOURNEY_BOX
 color: $fontColor;
 letter-spacing: 2px;
 font-size: 4vh;
 
 #bigWord {//                       C_INITIAL_LETTER
 color: $headingColor;
 }
}
}
}

 .myJourneyBox::before {
  content: '';
  height: 100%;
  width: 14.4px;
  left: -14px;
  top: 0;
  position: absolute;
  transform: skewY(35deg);
  background-color: $salmon;
  transform-origin: right ;
 }

 .myJourneyBox::after {//                          BLUE_CONTAINER_LEFT
  content: '';
  height: 10px;
  width: 100%;
  position: absolute;
  transform: skewX(55deg);
  background-color: $blue;
  transform-origin: bottom;
  top: -10px;
  left: 0;
 }
 
  .iconBar {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
  
  
  #instagramIcon {
    fill: $salmon;
  }
  
  #facebookIcon {
    fill: $blue;
    -webkit-fill: $blue
  }
  
  #resumeIcon {
    fill: whitesmoke;
  }
  
  #linkedInIcon {
    fill: #0a66c2;
  }}}
}

