.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";  
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    font-weight: 500;
    font-size: 3em;
}

.contactUs .title {
 display: flex;
 justify-content: center;
 align-items: center;
}

.contactUs .title h2 {
    font-weight: 500;
    color: white;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

/////////////////////////// Form
.formBox {
    width: 100%;
    background: $backgroundColor;
    padding: 10px;
}

.formBox .row50 {
    gap: 20px;
    display: flex;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.inputBox span {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 2.2vh;
}

.inputBox input {
    padding: 10px ;
    font-size: 1.1em;
    outline: none;
    background: #34414e;
    width: 100%;
    border: none;
    color: white;
}

.inputBox textarea {
    resize: none;
    font-size: 1.1em;
    min-height: 220px;
    margin-bottom: 10px;
    padding: 10px;
    background: #34414e;
    outline: none;
    border: none;
    color: white;
}

.inputBox input[type="submit"] {
    background: $salmon;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    max-width: 120px;
    color: white;
}

.inputBox ::placeholder {
    color: #999;
}

//////////////////////////////// info
.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 1em;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: white;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; //Increase Icon Size
    border-radius: 50% ;
}

.info .infoBox div p {
    color: white;
}

.info .infoBox div a {
    color: white;
}

.map {
     padding: 0;
     height: 50%;
}

.map iframe {
    width: 100%;
    height: 100%;
}

// Responsive Layout
@media (max-width: 768px) {
.box {
 display: flex;
 flex-wrap: wrap;
 grid-template-columns: 1fr;
 grid-template-rows: auto; 
 grid-template-areas: 
  "form" 
  "info"
  "map";
}

.contact {
    width: 100%;
}

.contactUs {
     padding: 20px;
}

.map {
    padding: 0;
}

.formBox {
    width: 100%;
}

.formBox .row50 {
    gap: 0;
    display: flex;
    flex-direction: column;
}

.infoBox {
    width: 100%;
}}

@media (min-width: 991px) {
 
.two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    .form {
        width: 40%;
        grid-gap: 2em;
    }

    .info {
        width: 20%;
    }

    .infoBox {
        display: grid;
        gap: 2em;
    }

    .map {
        width: 30%;
    }
}

@media (min-width: 1500px) {
 
.two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

}