
//MIXINS
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin navBar {/////////NAV_BAR
  display: grid;
  flex-direction: column;
  position: fixed;
  z-index: 1000; 
  background: linear-gradient();
  top: 0;
  left: 0;
  width: 3em;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 3px 1px black;
  
}

@mixin sideBar {//////////SIDE_BAR
  @include flexCenter();
  width: 14em;
  height: 18em;
  position: fixed;
  top: 5em;
  transition: transform 0.7s, left 0.4s;
  left: -15em;
  z-index: 100;
}

@mixin hamburger {//////////HAMBURGER
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
  height: 3em;
  padding: 10px;

  .lines {////////////////HAMBURGER LINES
    width: 1.5em;
    height: 2px;
    border-radius: 70px;
  }
  #line1 {
   width: 0.9em;
   background-color: white;
  }
  #line2 {
   background-color: $fontColor;
  }
  #line3 {
   background-color: $salmon;
}}

@mixin navList {///////////////NAV_LIST
  justify-content: space-around;
  color: rgba(95, 95, 95, 0.473);
  
.listItem {///////////////LIST_ITEM
  display: flex;
  justify-content: center;
  transition: color 0.5s;
  text-decoration: none;
}

a {///////////////////////SIDEBAR_LINKS
  @include flexCenter();
  flex-direction: column;
  text-decoration: none;
  color: rgba(128, 128, 128, 0.521);
  transition: 0.5s;
 
  height: 3em;
  width: 4em;
  
&:hover {///////////////LIST_ITEM_HOVER
  cursor: pointer;
  background: $headingColor;
  color: white;
  border-radius: 6px;
}}}

@mixin boxShadow {
  box-shadow: -50px 20px 5px rgba(0, 0, 0, 0.281);
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////

                                            //HEADER NAV HAMBURGER

header {///////////////HEADER
 position: absolute;
 height: 10em;
 z-index: 11;
  .toggleLight {
    cursor: pointer;
    
  }
nav {///////////////////////NAV_BAR
  @include navBar();

  .toggleLight {
    width: 100%;
    height: 100%;
    fill: white;
    display: none;
  }
}

.hamburgerMenu {//////////HAMBURGER
  @include hamburger();
}

.sideBar {//////////SIDEBAR
  @include sideBar();
}

.change {//////////SIDEBAR_CHANGE
  left: 1em
}

#navList {///////////////NAV_LIST
  @include navList();

}



}





/////////////////////////////////////////////////////////////////////////////////////////////////////////


