

main {
 display: flex;
 flex-direction: column;
 
.mainHeading {
 overflow: visible;
 display: flex;
 height: 90vh;
 flex-direction: row;
 justify-content:center;
 justify-content: space-evenly;

.firstName {//                   FIRST_NAME
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
span {
  justify-content: space-around;
  font-size: 11vh;
}}

.lastName {//       LAST_NAME
  display: flex;
  flex-direction: column;
  justify-content: space-around;

 span {
  font-size: 17vh;
}}}}

.main2 {
  .aboutMe{
    display: flex;
    gap: 2em;
  }
}

.main3 {
  width: 100vw;
  display: flex;

}





