.mainsBox {
 display: flex;
 flex-direction: column;
}

main {
 height: 100vh;
 overflow-x: hidden;

.slidingBanner {
  padding-top: 0.5em;
}

.mainHeading {
 writing-mode: vertical-rl;
 height: 100vh;

.mainHeadingBox {
 width: 100vw;

.spanFirstName {
  display: flex;
  align-items: center;
  width: 50%;
 font-size: 13.3vh;
 text-orientation: upright;
 letter-spacing: 1.27em;
}

.spanLastName {
  font-size: 19.8vh;
  letter-spacing: 1.3em;
  width: 50%;
  text-orientation: upright;
  display: flex;
  align-items: center;

}}}

}


.main2 {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.main3 {
  display: flex;
}





