.mainsBox {
 display: flex;
 flex-direction: column;
}

main {
 overflow: hidden;

.slidingBanner {
  padding-top: 0.5em;
}

.mainHeading {
 height: 100vh;
 writing-mode: vertical-rl;
}

h1 {
 justify-content: space-evenly;
  
.spanFirstName {
  display: flex;
  align-items: center;
  width: 50vw;
 font-size: 13.5vh;
 text-orientation: upright;
 letter-spacing: 1em;

}


.spanLastName {
  font-size: 20vh;
  letter-spacing: 1em;
  text-orientation: upright;
  display: flex;
  align-items: center;

  #spanKrog {
    align-items: center;
    display: flex;
    width: 50vw;
  }
}
  }

}

.main2 {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.main3 {
  display: flex;
}





