
@media all and (min-width: 430px) {

  .aboutMe {
    margin: auto auto;
  }
  .paragraphHeadings {
    font-size: 8vh;
}
}

@media all and (min-width: 500px) {

.aboutMe {

margin: 0 ;
  .aboutMeBox {

    #aboutMeSection {
     
      .initialContainer {
      .initial {
 
      .initial::first-letter {
        font-size: 1vw;
    }}
 
} 
 .principles {
  padding: 0;
  font-size: 4vw;
}}}
}

.myJourneyBox {

#spanHungry {
 font-size: 5vw;
  width: 100%;
}
}}

@media all and (min-width: 700px) {
  
.mainsBox {
 display: flex;
 flex-direction: row-reverse;
 main {
  width: 50%;
 
.mainHeadingBox { 
 width: 50vw;

  .spanFirstName {
    font-size: 13.5vh;
  }

  .spanLastName {
    font-size: 20.1vh;
  }
}
}

.main2 {

.aboutMe { 
   width: 50vw;

    .paragraphHeadings {
      font-size: 10vw;
    }
    
  .aboutMeBox {

       #aboutMeSection {
        display: block;
        padding: 2em;
        
         .principles {
           font-size: 4vh;
           padding-top: 1em;
         }
       
    .initialContainer { 
    .initial {
      font-size: 6.3vw;
     }}

  .initial::first-letter {
   font-size: 5em;
  }
}}
.myJourneyBox {
width: 100%;

 #myJourneySection .myJourneyBoxParagraph {
  font-size: 4vw;
  
}}
}}

.main3 {
}}}

@media all and (min-width: 880px) {
  main {
    .mainHeading {
      .mainHeadingBox {
        .spanMainHeading {
          font-size: 20vh;
  }}}}

}

