
@media all and (min-width: 430px) {
#spanPrinciples {
 font-size: 6vw;
}

.portraitBox {

.spanMainHeading {
 max-height: 50vh;
}
}

.aboutMe {

#spanMy {
    margin-left: 50em;
}}
}

@media all and (min-width: 600px) {

.aboutMe {

.aboutMeBox {

.spanAboutMeBox {
 font-size: 8vw;
}

 section {
  flex-direction: row;
  align-items: center;
} 
 
 .principles {
 text-align: center;
}

 #spanPrinciples {
 font-size: 5vw; 
}}

.myJourneyBox {

.spanMyJourneyBox {
 font-size: 8vw;
}

.myJourneyBoxParagraph {
 text-align: center;
 }

#spanMy {
 margin-left: 6em;
}

#spanHungry {
 font-size: 5vw;
  width: 100%;
}
}}}

@media all and (min-width: 700px) {

.mainsBox {
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
 
  main {
   max-width: 50%;

   .portrait {
    height: 100vh;

     .spanMainHeading {
      font-size: 22vw;
     }}
  }
 
  .main2 {
   width: 50%;
   overflow: visible;
  
  .aboutMe {
      section {
        flex-direction: column;
        width: 50%;

        .initialContainer {
          position: relative;
          left: -2em;
        }

     }}
   
   .spanMyJourneyBox {
    padding: 0 1em;
   }
  }
  
}}

@media all and (min-width: 800px) {

}

