

.main3 {
 width: 100%;

 .portfolioContainer {
  
  width: 100%;
  margin: 2em auto ;
  display: flex;
  flex-direction: column;
  gap: 2em;

.downWithDough3D {
 -moz-transform: skewY(-5deg);
 -ms-transform: skewY(-5deg);
 transform: skewY(-5deg);
 transition: all 0.2s;
 @include boxShadow;

 width: 100%;
 height: 20em;

 background-attachment: fixed;
 background-size: 100% 100%;
 background-repeat: no-repeat;

 img {
  width: 100%;
  height: 100%;
 }
 
}

.downWithDough3D2 {
  display: none;
}

.downWithDough3D::before {
  content: "";
  height: 100%;
  width: 14.4px;
  left: -14px;
  top: 0;
  position: absolute;
  transform: skewY(35deg);
  background-color: #2da8d8;
  transform-origin: right;
  transition: all 0.7s;
 }

.downWithDough3D::after {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  transform: skewX(55deg);
  background-color: #d9524e;
  transform-origin: bottom;
  top: -10px;
  left: 0;
  transition: all 0.7s;
 }

.downWithDough3D:hover::before {
 transition: all 0.3s;
 height: 0%;
}

.downWithDough3D:hover::after {
 transition: all 0.3s;
 width: 0%;
}

.fioriCakes3D {
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  transition: all 0.2s;
  @include boxShadow;
 
  width: 100%;
  height: 20em;
 
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
  img {
   width: 100%;
   height: 100%;
  }
  
 }
 
 .fioriCakes3D2 {
   display: none;
 }
 
 .fioriCakes3D::before {
   content: "";
   height: 100%;
   width: 14.4px;
   left: -14px;
   top: 0;
   position: absolute;
   transform: skewY(35deg);
   background-color: #2da8d8;
   transform-origin: right;
   transition: all 0.7s;
  }
 
 .fioriCakes3D::after {
   content: "";
   height: 10px;
   width: 100%;
   position: absolute;
   transform: skewX(55deg);
   background-color: #d9524e;
   transform-origin: bottom;
   top: -10px;
   left: 0;
   transition: all 0.7s;
  }
 
 .fioriCakes3D:hover::before {
  transition: all 0.3s;
  height: 0%;
 }
 
 .fioriCakes3D:hover::after {
  transition: all 0.3s;
  width: 0%;
 }

}
}


