
@mixin projectContainers {
    width: 20%;
    height: 20em;
    background-color: white;
    margin: auto auto;
    box-shadow: -12px 12px 5px 1px rgba(95, 95, 95, 0.473);

    &:hover {
        top:0.5em;
        right: 0.5em;
        position: relative;
        box-shadow: none;
        cursor: pointer;
        transition: 0.5s;
}}

.projectsSection { ///////////////////////PROJECTS
    @include flexCenter();
    flex-wrap: wrap;
    width: 100vw;
    height: 100%;

.projectContainers {
    @include projectContainers();
    margin:  1em;

#tableTennis {///////////////////////TABLE_TENNIS
    @include flexCenter();
    position: sticky;
    top: 10em;
    height: 20em;
    width: 100vw;
    z-index: -100;

.left-side {///////////////////////LEFT_SIDE
     width: 2em;
     position: absolute;
     left: 0;}

.right-side {///////////////////////RIGHT_SIDE
     position: absolute;
     right: 0;
     width: 2em;}

.left-bar,
.right-bar {/////////////////////// BAR CUSTOM SETTING
     height: 10em;
     background-color: rgba(128, 128, 128, 0.74);
     left: 0;
     position: relative;  
     border-radius: 7px ;
     opacity: 0.3;}

.left-bar {
     animation: leftUpDown 15s;
     animation-timing-function: infinite;
     animation-iteration-count: infinite;

     @keyframes leftUpDown {
     0%{top: 100%; bottom: 0px;};
     10%{top: 500px; bottom: 200px;};
     20%{top: 50px; bottom: 0;};
     30%{top: 50px; bottom: 0;};
     40%{top: 50px; bottom: 0;};
     50%{top: 50px; bottom: 0;};
     60%{ bottom: 0; top: 0;};
     70%{ bottom: 0; top: 0;};
     80%{ bottom: 0; top: 0;};
     90%{ bottom: 0; top: 0;};
     100%{ bottom: 0; top: 0;};
}}

.right-bar {
     animation: rightUpDown 15s; 
     animation-iteration-count: infinite;

    @keyframes rightUpDown {
     0%{top: 50px; bottom: 0;};
     10%{top: 50px; bottom: 0;};
     20%{top: 50px; bottom: 0;};
     30%{top: 50px; bottom: 0;};
     40%{top: 50px; bottom: 0;};
     50%{top: 50px; bottom: 0;};
     60%{ bottom: 0; top: 0;};
     70%{ bottom: 0; top: 0;};
     80%{ bottom: 0; top: 0;};
     90%{ bottom: 0; top: 0;};
     100%{ bottom: 0; top: 0;};
}}

.ball {//////////////////////////BALL
     width: 2em;
     height: 2em;
     margin: auto;
     position: absolute;
     border-radius: 50%;
     background-color: rgba(128, 128, 128, 0.74);
     opacity: 0.3;

     animation: ball 15s;
     animation-timing-function: infinite;
     animation-iteration-count: infinite;
     animation-direction: normal;

@keyframes ball {
    0%{left: 3%; left: 540px;};
}}}}
}