
.lightMode {////////////////////////// TOGGLE_LIGHT_MODE
 background: rgb(211, 211, 211);
 transition: all 1s ease;
 color: rgb(27, 27, 27);
    
    span {
     transition: 1s;
     color: rgb(24, 23, 23);
    }

    p {
     transition: 1s;
     color:rgb(17, 16, 16); 
    }
}