
.lightMode {////////////////////////// TOGGLE_LIGHT_MODE
 background: hsl(0, 6%, 85%);
 transition: 2s;
 color: rgb(27, 27, 27);
    
    span {
     transition: 2s;
     color: rgb(24, 23, 23);
    }

    p {
     transition: 1s;
     color:rgb(17, 16, 16); 
    }
}