@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:wght@200&family=Tapestry&display=swap');
@import "./variables";
@import "./header";
@import "./main";
@import "./hoverMenu";
@import "./body";
@import "./aboutMe";
@import "./portfolio";
@import "./animations";
@import "./toggleLight";
@import "./mediaQueries";
@import "./contactForm";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border:  solid 1px black;
}

html {
 -ms-scrollbar-style:none;
 scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}







